<form #searchForm="ngForm" (ngSubmit)="searchMovie()"  class="navbar-form navbar-left">
    <div class="form-group">
            <input
                [(ngModel)]="searchName"
                minlength="3"
                required
                #search="ngModel"
                type="text"
                name="searchName"
                class="form-control">
            <button
                type="submit"
                [disabled]="!searchForm.valid"
                class="btn btn-search">Submit
            </button>
    </div>
</form>
